<?php
	use Artist\Source\ArtistCommon;
?>

<div id="artist-detail" class="container">
    <?php echo $this->profile; ?>
    <div class="artist-dt">
    	<div class="artist-dt-left">
        	<?php  echo $this->left_profile ?>
        	<div class="common-box pad-left-10 mar-bot-25 artist-tt">
		        <?php  echo $this -> artist_related; ?>
		    </div>
        </div>
        <div class="artist-dt-right">
        	<div class="soong-wp">
                <ul>
                    <?php foreach($album as $item){ ?>
                        <li>
                            <div class="photo">
                                <a href="#">
                                    <div class="lazy-image img-responsive" lazy-src='<?php echo ArtistCommon::getAlbumImage($item['thumnail'], $item['slug']) ?>'></div>
                                </a>
                            </div>
                            <div class="info">
                                <h3><a class="link-blue-bold" href=""><?php echo $item['title']?></a></h3>
                                <div class="base-info-subject">
                                    <p>
                                        <span class="headphone"></span><?php echo number_format($item['view'], 0, '.', '.') ?>
                                        <span class="pad-left-10"></span><span class="gender"></span>Số bài: 50
                                        <span class="pad-left-10"></span><span class="like"></span>06
                                        <span class="pad-left-10"></span><span class="gender"></span>12
                                    </p>
                                    <p>Tập hợp những ca khúc hay nhất của ca sĩ Quang Lê. Anh sẽ có một live - show Quang Lê in VietNam vào tháng 10/2011. <a class="more-album-detail" href="#">Chi tiết &#187;</a></p>
                                </div>
                            </div>
                            <div class="clear"></div>
                        </li>
                    <?php } ?>
                </ul>
            </div>
			<?php if($is_next >=0 ){ ?>
                <div id="artist-next">
				    <a href="<?php echo $this->url('ArtistDetail/album', array('name'=>$artist['name_search'],'page'=>$is_next)); ?>">Xem tiếp &#187;</a>
                </div>
			<?php } ?>
			<?php if($is_prev >= 0){ ?>
                <div id="artist-previous">
				    <a href="<?php echo $this->url('ArtistDetail/album', array('name'=>$artist['name_search'], 'page'=>$is_prev))?>">&#171; Trang trước</a>
	                </div>
			<?php } ?>
        </div>
        <div class="clear"></div>
    </div>
    <div class="clear"></div>
</div>