<?php
	use Artist\Source\ArtistCommon;
?>
<div class="right-title righttitle-text">
	Nghệ sỹ tương tự
</div>
<div class="pad-bot-15 ie-padtop">
	<div class="avalist algin-center">
		<?php foreach($artist_related as $artist){ ?>
		<div class="artist-item">
			<div class="artist-avatar photo">
                <a href="<?php echo $this->url('ArtistDetail',array('name'=>$artist['name_search'])) ?>">
                    <div class="lazy-image img-responsive" lazy-src='<?php echo ArtistCommon::getUrlImageArtist($artist['ac_avatar'], $artist['name_search'])?>'></div>
                </a>
			</div>
			<div class="artist-info">
                <div class="art-name">
                    <a title="<?php echo $artist['name']?>" href="<?php echo $this->url('ArtistDetail',array('name'=>$artist['name_search'])) ?>">
                        CS: <?php echo $artist['name']?>
                    </a>
                </div>
				<?php $slug = str_replace(' ', '-', $artist['cat_search_name'])?>
				<div class="art-type-sig">
                    <a href="<?php echo $this->url('ChuyenMuc',array('slug'=>$slug))?>">
                        Thể loại: <?php echo $artist['cat_name']; ?>
                    </a>
				</div>
			</div><div class="clear"></div>
		</div>
		<?php } ?>
	</div>
</div>