<div class="footer">
    <div class="col col1">
        <div class="ftitle">Về chúng tôi</div>
        <ul>
            <li><a href="">Giới thiệu</a></li>
            <li><a href="">Tuyển dụng</a></li>
            <li><a href="">Điều khoản sử dụng</a></li>
            <li><a href="">Chính sách riêng tư</a></li>
            <li><a href="">Chính sách bản quyền</a></li>
        </ul>
    </div>
    <div class="col col2">
        <div class="ftitle">Phiên bản Mobile</div>
        <ul>
            <li><a href="">Android</a></li>
            <li><a href="">iPhone</a></li>
            <li><a href="">Nokia</a></li>
            <li><a href="">Mobile Web</a></li>
        </ul>
    </div>
    <div class="col col3">
        <div class="ftitle">Kết nối với chúng tôi</div>
        <ul>
            <li><a href="#" class="facebook"></a></li>
            <li><a href="#" class="twitter"></a></li>
            <li><a href="#" class="google"></a></li>
            <li><a href="#" class="youtube"></a></li>
            <li><a href="#" class="in"></a></li>
        </ul>
    </div>
    <div class="col4">
        <div class="ftitle">Liên hệ</div>
        <p>Công ty cổ phần  phần mềm Đại Việt</p>
        <p>Fax : 043.562.5790</p>
        <p>Email : hotro@batdongsan.com.vn</p>
        <p>chsk@batdongsan.com.vn</p>
        <p>Phát triển bởi  Đai Việt software JSC</p>
    </div>
    <div class="clear"></div>
</div>