<div id="search" class="nv-header">
    <div class="container">
        <div class="col-md-12 slide-home fullside">
            <div class="panel-default">
                <div class="panel-body">
                    <div class="panel-search">
                        <ul class="tabs-search">
                            <li class="active"><a href="#all">Tìm tất cả những gì bạn muốn</a></li>
                            <li><a href="#song">Tên bài hát, ca sỹ</a></li>
                            <li><a href="#subject">Chủ đề, list đặc biệt</a></li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="all">
                                <div class="input-group margin-bottom-sm ">
                                    <input class="input-text placehold" type="text" placeholder="Hãy gõ vào đây bất kỳ điều gì bạn đang muốn về âm nhạc, ví dụ: Các bài hát giai điệu sôi động nhất ..."
                                           class="form-control" />
                                    <span class="input-group-addon search"><i class="fa fa fa-search fa-fw"></i></span>
                                </div>
                            </div>
                            <div class="tab-pane" id="song">
                                <div class="input-group margin-bottom-sm ">
                                    <input class="input-text placehold" type="text" placeholder="Tên bài hát, Ca sỹ ..." class="form-control" />
                                    <span class="input-group-addon search"><i class="fa fa fa-search fa-fw"></i></span>
                                </div>
                            </div>
                            <div class="tab-pane" id="subject">
                                <div class="input-group margin-bottom-sm ">
                                    <input class="input-text placehold" type="text" placeholder="Chủ đề, List đặc biệt ..." class="form-control" />
                                    <span class="input-group-addon search"><i class="fa fa fa-search fa-fw"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-search-hit box-shadow">
                <div class="titlehead">
                    <h2 class="title-search">
                        Tìm kiếm bảng xếp hạng</h2>
                </div>
                <div class="panel-body pad-left-20">
                    <div class="items col-item-select">
                        <div class="advance-select-box" id="divGender">
                                     <span class="select-text">
                                        <span class="select-text-content">Chọn thể loại</span>
                                    </span>
                            <input type="hidden" id="hdGender" value="0"/>
                            <div class="advance-select-options advance-options" id="divGenderOptions">
                                <ul class="advance-options">
                                    <li class="advance-options">Chọn thể loại</li>
                                    <li class="advance-options">Nhạc POP</li>
                                    <li class="advance-options">Nhạc Rock</li>
                                    <li class="advance-options">Nhạc Jazz</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="items col-item-select">
                        <div class="advance-select-box" id="divCountry">
                                 <span class="select-text">
                                    <span class="select-text-content">Chọn quốc gia</span>
                                </span>
                            <input type="hidden" id="hdCountry" value="0"/>
                            <div class="advance-select-options advance-options" id="divCountryOptions">
                                <ul class="advance-options">
                                    <li class="advance-options">Chọn quốc gia</li>
                                    <li class="advance-options">Việt Nam</li>
                                    <li class="advance-options">Hàn Quốc</li>
                                    <li class="advance-options">Nhật Bản</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="items col-item-select">
                        <div class="advance-select-box" id="divMelody">
                                 <span class="select-text">
                                    <span class="select-text-content">Chọn giai điệu</span>
                                </span>
                            <input type="hidden" id="hdMelody" value="0"/>
                            <div class="advance-select-options advance-options" id="divMelodyOptions">
                                <ul class="advance-options">
                                    <li class="advance-options">Chọn giai điệu</li>
                                    <li class="advance-options">Nhanh</li>
                                    <li class="advance-options">Chậm</li>
                                    <li class="advance-options">Vừa phải</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="items col-item-select">
                        <div class="advance-select-box" id="divOther">
                                 <span class="select-text">
                                    <span class="select-text-content">Chọn khác</span>
                                </span>
                            <input type="hidden" id="hdOther" value="0"/>
                            <div class="advance-select-options advance-options" id="divOtherOptions">
                                <ul class="advance-options">
                                    <li class="advance-options">Chọn khác</li>
                                    <li class="advance-options">1</li>
                                    <li class="advance-options">2</li>
                                    <li class="advance-options">3</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="items">
                        <div class="input-group p0">
                            <button type="submit" class="btn btn-search">
                                <span class="fa fa fa-search fa-fw"></span>Tìm kiếm</button>
                        </div>
                    </div>
                    <div class="clear">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>