<div class="row">
    <div class="col-md-9">
        <div class="panel panel-default">
            <div class="col-lg-12">
                <h3 class="page-header"><i class="apico games apico-atoms"></i> Danh sách playlist</h3>
            </div>
            <div class="panel-body">

            </div>
        </div>
    </div>
    <div class="col-md-3">
        right
    </div>
</div>
