<h1>Các bài hát tương tự	</h1>
<?php foreach($music as $item) { ?>
	<div class="music-related-item">
		<a href="<?php echo $this->url('Music', array('slug'=>$item['slug'], 'identify'=>$item['identify'])) ?>">
			<?php echo $item['title'];?>
		</a>
		<a href="<?php echo $this->url('ArtistDetail', array('name'=>str_replace(' ','-', $item['artist_name_search']))); ?> ">
			<?php echo $item['artist_name'];?>
		</a>
		<?php echo number_format($item['hitcount'], 0, '.', '.');?> lượt nghe
		
		<span>9 điểm</span>
		<span>9 điểm</span>
	</div>
<?php } ?>