<div>thong tin bai hat:</div>
<?php var_dump($itemDetail);?>


</br><div>Bai Hat cung Chuyen Muc</div>
<table>
    <tbody>
        <?php  foreach($cateRelated as $value) {  ?>

            <tr>
                <td>
                    <a href="<?php echo $this->url('Music',array('action'=>'show','slug'=>$value['slug'],'identify'=>$value['identify']))?>"class="title-normal" title="<?php echo $this->escapeHtml($value['title']);?>"><?php echo $this->escapeHtml($value['title']);?>
                    </a> 
                </td>
            </tr>
        <?php }?>
    </tbody>

</table>
</br><div>Video cung Chuyen Muc</div>
<table>
    <tbody>
        <?php  foreach($cate_vRelated as $value) {  ?>

            <tr>
                <td>
                    <a href="<?php echo $this->url('Video',array('action'=>'show','slug'=>$value['slug'],'identify'=>$value['identify']))?>"class="title-normal" title="<?php echo $this->escapeHtml($value['title']);?>"><?php echo $this->escapeHtml($value['title']);?>
                    </a> 
                </td>
            </tr>
        <?php }?>
    </tbody>

</table>
</br><div>Bai Hat cung Ca sy</div>
<table>
    <tbody>
        <?php foreach($artistRelated as $value) {  ?>

            <tr>
                <td>
                    <a href="<?php echo $this->url('Music',array('action'=>'show','slug'=>$value['slug'],'identify'=>$value['identify']))?>"class="title-normal" title="<?php echo $this->escapeHtml($value['title']);?>"><?php echo $this->escapeHtml($value['title']);?>
                    </a> 
                </td>
            </tr>
        <?php }?>
    </tbody>

</table>
</br><div>Video cung Ca sy</div>
<table>
    <tbody>
        <?php foreach($artist_vRelated as $value) {  ?>

            <tr>
                <td>
                    <a href="<?php echo $this->url('Video',array('action'=>'show','slug'=>$value['slug'],'identify'=>$value['identify']))?>"class="title-normal" title="<?php echo $this->escapeHtml($value['title']);?>"><?php echo $this->escapeHtml($value['title']);?>
                    </a> 
                </td>
            </tr>
        <?php }?>
    </tbody>

</table>