<div id="search" class="nv-header">
    <div class="container">
        <div class="col-md-12 slide-home fullside">
            <div class="panel-default">
                <div class="panel-body">
                    <div class="panel-search">
                        <ul class="tabs-search">
                            <li class="active"><a href="#all">Tìm tất cả những gì bạn muốn</a></li>
                            <li><a href="#song">Tên bài hát, ca sỹ</a></li>
                            <li><a href="#subject">Chủ đề, list đặc biệt</a></li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="all">
                                <div class="input-group margin-bottom-sm ">
                                    <input class="input-text" type="text"
                                           placeholder="Hãy gõ vào đây bất kỳ điều gì bạn đang muốn về âm nhạc, ví dụ: Các bài hát giai điệu sôi động nhất ..."
                                           class="form-control"/>
                                    <span class="input-group-addon search"><i class="fa fa fa-search fa-fw"></i></span>
                                </div>
                            </div>
                            <div class="tab-pane" id="song">
                                <div class="input-group margin-bottom-sm ">
                                    <input class="input-text" type="text" placeholder="Tên bài hát, Ca sỹ ..."
                                           class="form-control"/>
                                    <span class="input-group-addon search"><i class="fa fa fa-search fa-fw"></i></span>
                                </div>
                            </div>
                            <div class="tab-pane" id="subject">
                                <div class="input-group margin-bottom-sm ">
                                    <input class="input-text" type="text" placeholder="Chủ đề, List đặc biệt ..."
                                           class="form-control"/>
                                    <span class="input-group-addon search"><i class="fa fa fa-search fa-fw"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-search-hit box-shadow">
                <div class="titlehead">
                    <h2 class="title-search">
                        Tìm kiếm bảng xếp hạng</h2>
                </div>
                <div class="panel-body pad-left-20">
                    <div class="col-md-12">
                        <div class="items col-item-select">
                            <div class="advance-select-box">
                                <select>
                                    <option>Chọn thể loại</option>
                                    <option>Nhạc trữ tình</option>
                                </select>
                                <span class="v-drop">Chọn thể loại</span>
                            </div>
                        </div>
                        <div class="items col-item-select">
                            <div class="advance-select-box">
                                <select>
                                    <option>Chọn quốc gia</option>
                                    <option>Việt Nam</option>
                                    <option>Hàn Quốc</option>
                                </select>
                                <span class="v-drop">Chọn quốc gia</span>
                            </div>
                        </div>
                        <div class="items col-item-select">
                            <div class="advance-select-box">
                                <select>
                                    <option>Chọn giai điệu</option>
                                    <option>Nhanh</option>
                                    <option>Chậm</option>
                                </select>
                                <span class="v-drop">Chọn giai điệu</span>
                            </div>
                        </div>
                        <div class="items col-item-select">
                            <div class="advance-select-box">
                                <select>
                                    <option>Chọn khác</option>
                                    <option>1</option>
                                    <option>2</option>
                                </select>
                                <span class="v-drop">Chọn khác</span>
                            </div>
                        </div>
                    </div>
                    <div class="items">
                        <div class="input-group p0">
                            <button type="submit" class="btn btn-search">
                                <span class="fa fa fa-search fa-fw"></span>Tìm kiếm
                            </button>
                        </div>
                    </div>
                    <div class="clear">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<div class="container mar-top-25">
<!-- left parts -->
<div id="main-left">
<!-- Tu tao danh sach-->
<div id="article" class="common-box pad-top-bot-15 mar-bot-25">
    <div class="mar-bot-15">  
             
           <a href="<?php echo $this->url('Article_Category',['slug'=>$item['category_slug']]); ?>"> <span class="solhead">&nbsp;</span> <span class="soltitle width-600"><?php echo $this->escapeHtml($item['category_name']); ?></span></a>
           <div class="pad-15"> 
           <div class="article-title">
                    <h2>
                        <?php echo $this->escapeHtml($item['title']);?></h2>
    
                    <p>                
                        <?php echo $this->escapeHtml($item['created_time']);?>
                    </p>
                    <p><?php echo $item['description']; ?></p>
                    
            </div>
            <div><?php echo $item['content']; ?></div>
        </div>
    </div>
    <div class="clear">
    </div>
</div>


</div>

<div id="main-right">
<!-- right menu hot activities -->
<div class="common-box pad-left-10 mar-bot-25">
    <div class="right-title righttitle-text">Hoạt động nổi bật</div>
    <div class="pad-bot-15">
        <div id="active-most">
            <ul>
                <li>

                    <div class="avatar">
                        <div class="ava1">
                            <div class="circle1 mar">
                                <div class="circle2"></div>
                                <img src="http://placehold.it/90x90"/>
                            </div>

                        </div>
                    </div>
                    <div class="box">
                        <div>
                            <div class="algin-center">
                                <a href="#" class="link-blue-bold">yeutinhmatuot255</a></div>
                            <div class="green-text algin-center bold">
                                <span class="font-13">12.576</span> điểm
                            </div>
                            <div>
                                <span class="post">&nbsp;</span>Đóng góp <span class="green-text">16</span> bài
                            </div>
                            <div>
                                <span class="star">&nbsp;</span>Chấm điểm <span class="green-text">123</span> bài
                            </div>
                            <div>
                                <span class="comment">&nbsp;</span>Bình luận <span class="green-text">8</span> bài
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="avatar">
                        <div class="ava2">
                            <div class="circle1">
                                <div class="circle2"></div>
                                <img src="http://placehold.it/90x90"/>
                            </div>
                        </div>
                    </div>
                    <div class="box">
                        <div>
                            <div class="algin-center">
                                <a href="#" class="link-blue-bold">yeutinhmatuot255</a></div>
                            <div class="green-text algin-center bold">
                                <span class="font-13">12.576</span> điểm
                            </div>
                            <div>
                                <span class="post">&nbsp;</span>Đóng góp <span class="green-text">16</span> bài
                            </div>
                            <div>
                                <span class="star">&nbsp;</span>Chấm điểm <span class="green-text">123</span> bài
                            </div>
                            <div>
                                <span class="comment">&nbsp;</span>Bình luận <span class="green-text">8</span> bài
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="clear"></div>
        <div class="avalist algin-center">
            <div class="item">
                <div>
                    <a href="#" class="link-blue-bold">thien thanh</a>
                </div>
                <div>
                    <img src="http://placehold.it/50x50">
                </div>
                <div>
                    Chuyên gia chấm điểm
                </div>
            </div>
            <div class="item">
                <div>
                    <a href="#" class="link-blue-bold">thien thanh</a>
                </div>
                <div>
                    <img src="http://placehold.it/50x50">
                </div>
                <div>
                    Chuyên gia chấm điểm
                </div>
            </div>
            <div class="line"></div>
            <div class="item">
                <div>
                    <a href="#" class="link-blue-bold">thien thanh</a>
                </div>
                <div>
                    <img src="http://placehold.it/50x50">
                </div>
                <div>
                    Chuyên gia chấm điểm
                </div>
            </div>
            <div class="item">
                <div>
                    <a href="#" class="link-blue-bold">thien thanh</a>
                </div>
                <div>
                    <img src="http://placehold.it/50x50">
                </div>
                <div>
                    Chuyên gia chấm điểm
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>

<!-- right menu hot lists -->
<div id="hotlist" class="common-box pad-15 mar-bot-25">
    <div class="right-title righttitle-text">Các list hot</div>
    <div class="pad-bot-15 tablist  ">
        <ul id="tabs" class="nav-tabs">
            <li class="active"><a href="#tab-album">Albums</a></li>
            <li><a href="#tab-song">Bài hát</a></li>
            <li><a href="#tab-video">Video</a></li>
        </ul>
    </div>

    <div class="hotlist">
        <ul>
            <li>
                <div class="info">
                    <div><a href="#" class="link-blue-bold">Mãi trao anh tình yêu</a></div>
                    <div>Phạm Hồng phúc</div>
                    <div><span class="headphone">&nbsp;</span>65.679</div>
                </div>
                <div class="thumb">
                    <div><span>1</span></div>
                    <div><img src="http://placehold.it/87x65"/></div>
                </div>
                <div class="clear"></div>
            </li>
            <li>
                <div class="info">
                    <div><a href="#" class="link-blue-bold">Mãi trao anh tình yêu</a></div>
                    <div>Phạm Hồng phúc</div>
                    <div><span class="headphone">&nbsp;</span>65.679</div>
                </div>
                <div class="thumb">
                    <div><span>2</span></div>
                    <div><img src="http://placehold.it/87x65"/></div>
                </div>
                <div class="clear"></div>
            </li>
            <li>
                <div class="info">
                    <div><a href="#" class="link-blue-bold">Mãi trao anh tình yêu</a></div>
                    <div>Phạm Hồng phúc</div>
                    <div><span class="headphone">&nbsp;</span>65.679</div>
                </div>
                <div class="thumb">
                    <div><span>3</span></div>
                    <div><img src="http://placehold.it/87x65"/></div>
                </div>
                <div class="clear"></div>
            </li>
            <li>
                <div class="info">
                    <div><a href="#" class="link-blue-bold">Mãi trao anh tình yêu</a></div>
                    <div>Phạm Hồng phúc</div>
                    <div><span class="headphone">&nbsp;</span>65.679</div>
                </div>
                <div class="thumb">
                    <div><span>4</span></div>
                    <div><img src="http://placehold.it/87x65"/></div>
                </div>
                <div class="clear"></div>
            </li>
        </ul>
    </div>
</div>
<!-- right menu recommendation for you -->
<div id="recordmend" class="common-box pad-15 mar-bot-25">
    <div class="right-title righttitle-text">Đề xuất cho bạn</div>
    <div class="pad-bot-15">
        <div class="top">
            <img src="http://placehold.it/280x159">

            <p><a href="#" class="link-blue-bold">Bên em là biển rộng </a>- Lệ Quyên</p>

            <p><span class="star pad-right-5">&nbsp;</span><span class="green-text">9.5 Điểm</span></p>

            <p><span class="gender pad-right-5">&nbsp;</span>Bình thường</p>
        </div>

        <div class="rec-list">
            <ul>
                <li>
                    <p><a href="#" class="link-blue-bold">Bài thánh ca buồn</a> - Đ.V.Hưng - Mỹ Tâm</p>

                    <div class="item-list">
                        <img src="http://placehold.it/70x70"/>

                        <p><span class="star pad-right-5">&nbsp;</span><span class="green-text">9.5 Điểm</span></p>

                        <p><span class="gender pad-right-5">&nbsp;</span>Bình thường</p>

                        <p class="clear"></p>
                    </div>
                </li>
                <li>
                    <p><a href="#" class="link-blue-bold">Bài thánh ca buồn</a> - Đ.V.Hưng - Mỹ Tâm</p>

                    <div class="item-list">
                        <img src="http://placehold.it/70x70"/>

                        <p><span class="star pad-right-5">&nbsp;</span><span class="green-text">9.5 Điểm</span></p>

                        <p><span class="gender pad-right-5">&nbsp;</span>Bình thường</p>

                        <p class="clear"></p>
                    </div>
                </li>
                <li>
                    <p><a href="#" class="link-blue-bold">Bài thánh ca buồn</a> - Đ.V.Hưng - Mỹ Tâm</p>

                    <div class="item-list">
                        <img src="http://placehold.it/70x70"/>

                        <p><span class="star pad-right-5">&nbsp;</span><span class="green-text">9.5 Điểm</span></p>

                        <p><span class="gender pad-right-5">&nbsp;</span>Bình thường</p>

                        <p class="clear"></p>
                    </div>
                </li>
            </ul>
        </div>
    </div>

</div>

<!-- upcoming events -->
<div id="upevent" class="common-box pad-15 mar-bot-25">
    <div class="right-title righttitle-text">sự kiện diễn ra</div>
    <div>
        <ul>
            <li>
                <div class="info-left">
                    <img src="http://placehold.it/112x86"/>

                    <div class="calendar">
                        <span class="month">Tháng 9</span>
                        <span class="day">17</span>
                    </div>
                </div>
                <div class="info-right">
                    <p>
                        <a href="#" class="link-blue-bold">Sự kiện "nhạc đồng quê" Mỹ Tâm</a></p>

                    <p>
                        <span class="location"></span>Phòng trả không tên</p>

                    <div>
                        <a class="btn-join" href="#">Tham gia</a></div>
                </div>
                <div class="clear"></div>
            </li>
            <li>
                <div class="info-left">
                    <img src="http://placehold.it/112x86"/>

                    <div class="calendar">
                        <span class="month">Tháng 9</span>
                        <span class="day">17</span>
                    </div>
                </div>
                <div class="info-right">
                    <p>
                        <a href="#" class="link-blue-bold">Sự kiện "nhạc đồng quê" Mỹ Tâm</a></p>

                    <p>
                        <span class="location"></span>Phòng trả không tên</p>

                    <div>
                        <a class="btn-join" href="#">Tham gia</a></div>
                </div>
                <div class="clear"></div>
            </li>
        </ul>
    </div>
</div>
</div>
<div class="clear">
</div>
<div id="hdcv" class="common-box pad-top-15 mar-bot-25">
    <!-- Hoi dong co van -->
    <div>
        <span class="solhead">&nbsp;</span> <span class="soltitle width-880">Hội đồng cố vấn</span>
    </div>
    <div class="pad-25">
        <ul>
            <li>
                <div class="photo">
                    <a href="#">
                        <img src="http://placehold.it/110x110" alt=""></a></div>
                <h5>
                    <a href="">Nhạc sỹ Dương Cầm</a></h5>

            </li>
            <li>
                <div class="photo">
                    <a href="#">
                        <img src="http://placehold.it/110x110" alt=""></a></div>
                <h5>
                    <a href="">Nhạc sỹ Dương Cầm</a></h5>

            </li>
            <li>
                <div class="photo">
                    <a href="#">
                        <img src="http://placehold.it/110x110" alt=""></a></div>
                <h5>
                    <a href="">Nhạc sỹ Dương Cầm</a></h5>

            </li>
            <li>
                <div class="photo">
                    <a href="#">
                        <img src="http://placehold.it/110x110" alt=""></a></div>
                <h5>
                    <a href="">Nhạc sỹ Dương Cầm</a></h5>

            </li>
            <li>
                <div class="photo">
                    <a href="#">
                        <img src="http://placehold.it/110x110" alt=""></a></div>
                <h5>
                    <a href="">Nhạc sỹ Dương Cầm</a></h5>

            </li>
            <li>
                <div class="photo">
                    <a href="#">
                        <img src="http://placehold.it/110x110" alt=""></a></div>
                <h5>
                    <a href="">Nhạc sỹ Dương Cầm</a></h5>

            </li>
        </ul>
    </div>
</div>
<div class="clear">
</div>
</div>
