
<?php
if(isset($check)&&$check==1){echo "<div class='alert alert-success'>thanh cong</div>";}

if(!isset($check)||$check==0||$check==2){
if(isset($check)&&$check==0)echo 'thong tin dang ky ko phu hop';
if(isset($check)&&$check==2)echo 'ten dang nhap da ton tai';
$form = $this->login;
$form->prepare();
echo $this->form()->openTag($form);
?>
<div class="form-group">
	<div class="input-group">
		<div class="input-group-addon"><?php echo $this->formlabel($form->get('fullname'));?></div>
		<?php echo $this->formElement($form->get('fullname')); ?>
		<span class="common-error-msg"><?php echo $this->formElementErrors($form->get('fullname'));?></span>
	</div>
</div>
<div class="form-group">
	<div class="input-group">
		<div class="input-group-addon"><?php echo $this->formlabel($form->get('username'));?></div>
		<?php echo $this->formElement($form->get('username')); ?>
		<span class="common-error-msg"><?php echo $this->formElementErrors($form->get('username'));?></span>
	</div>
</div>
<div class="form-group">
	<div class="input-group">
		<div class="input-group-addon"><?php echo $this->formlabel($form->get('password'));?></div>
		<?php echo $this->formElement($form->get('password')); ?>
		<span class="common-error-msg"><?php echo $this->formElementErrors($form->get('password'));?></span>
	</div>
</div>
<div class="form-group">
	<div class="input-group">
		<div class="input-group-addon"><?php echo $this->formlabel($form->get('repassword'));?></div>
		<?php echo $this->formElement($form->get('repassword')); ?>
		<span class="common-error-msg"><?php echo $this->formElementErrors($form->get('repassword'));?></span>
	</div>
</div>
<div class="form-group">
	<div class="input-group">
		<div class="input-group-addon"><?php echo $this->formlabel($form->get('email'));?></div>
		<?php echo $this->formElement($form->get('email')); ?>
		<span class="common-error-msg"><?php echo $this->formElementErrors($form->get('email'));?></span>
	</div>
</div>
<div class="form-group">
	<div class="input-group">
		<div class="input-group-addon"><?php echo $this->formlabel($form->get('birthday'));?></div>
		  <input type="date" name="birthday" class="form-control" />
		<span class="common-error-msg"><?php echo $this->formElementErrors($form->get('birthday'));?></span>
	</div>
</div>
<div class="form-group">
	<div class="input-group">
		<div class="input-group-addon"><?php echo $this->formlabel($form->get('adress'));?></div>
		<?php echo $this->formElement($form->get('adress')); ?>
		<span class="common-error-msg"><?php echo $this->formElementErrors($form->get('adress'));?></span>
	</div>
</div>
<div class="form-group">
	<div class="input-group">
		<div class="input-group-addon"><?php echo $this->formlabel($form->get('sodienthoai'));?></div>
		<?php echo $this->formElement($form->get('sodienthoai')); ?>
		<span class="common-error-msg"><?php echo $this->formElementErrors($form->get('sodienthoai'));?></span>
	</div>
</div>
<div><?php echo $this->formElement($form->get('security')); ?></div>
<button class="btn btn-primary">Đăng Ký</button>
<?php echo $this->form()->closeTag($form);}?>
