<ul class="nav navbar-nav">
		<li class="dropdown show-on-hover">
		<a href="#" data-toggle="dropdown">
				<span>Danh M?c</span> <b class="caret"></b>
		</a>
			<ul class="dropdown-menu">
            <?php  foreach($music_cate as $value){?>
                  <li class=""><a href="<?php  echo $this->url('ChuyenMuc',array('action'=>'show','slug'=>$value['slug']));?>"><i class="fa"></i><span><?php echo $value['name'];?></span></a></li>
                  <?php }?>
                                                               
            </ul>
        </li>
		<li><a href="<?php echo $this->url('PlaylistIndex');?>"> <i class="fa fa-play-circle-o mg-r-md"></i> <span>Playlist</span>
		</a></li>
		<li class="dropdown show-on-hover">
		<a href="#" data-toggle="dropdown">
				<span>Video</span> <b class="caret"></b>
		</a>
			<ul class="dropdown-menu">
            <?php  foreach($video_cate as $value){?>
                <li class=""><a href="<?php  echo $this->url('Videos',array('action'=>'video','slug'=>$value['slug']));?>"><i class="fa"></i><span><?php echo $value['name'];?></span></a></li>
            <?php }?>                                                
            </ul>
        </li>
        <li><a href="<?php echo $this->url('Artist',array('action'=>'artist'));?>"><i class="fa fa-star-half-empty mg-r-md"></i><span>Ngh? Si</span></a></li>
		<li><a href="/bang-xep-hang/index.html"><i class="fa fa-star-half-empty mg-r-md"></i><span>BXH</span></a></li>
    <li><a href="<?php echo $this->url('subject',array('action'=>'index'));?>"><i class="fa fa-star-half-empty mg-r-md"></i><span>Ch? d?</span></a></li>
</ul>


    
    
  
